/* Recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  fill: none;
  stroke: currentColor;
  vertical-align: -0.15em;
}
// headerBar 右侧图标
.right-menu {
  .svg-icon {
    color: #5a5e67;
    &:hover {
      color: var(--theme-color);
    }
  }
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}
