/* Variables */

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// SideMenu
// menu 开头代表是一级菜单的样式，sub 开头代表是二级菜单的样式，除了 menuText，menuText 是整个菜单的文字样式，即包含了 sub 的文字样式。
// 白色主题
// $sideMenuWidth: 210px;
// $menuHover:#ecf5ff;
// $menuBg:#fff;
// $menuText:#303133;
// $menuActiveText:#409EFF;
// $subMenuBg:#fff;
// $subMenuHover:#ecf5ff;
// $subMenuActiveText:#409EFF;
// $elIcon: #909399; 
// $svgIcon: #909399;

// 黑色主题
$sideMenuWidth: 210px;
$menuHover:#263445;
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#409EFF;
$elIcon: #bfcbd9;
$svgIcon: #bfcbd9;

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
